@model IEnumerable<PauseSystem.Models.CustomerDelivery>

    @{
        ViewBag.Title = "Pause System";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            Hej @(PauseSecurity.GetFullName()) Du kan nu afmelde de dage hvor du ikke ønsker frugt.
            Afmeldning gælder for alle varer som normalt leveres på den pågælende dato.
            Ønker du stadig levering af frugt, men i mindre mængder, så kontakt os venligst på 32 200 777 eller på salg@firmafrugt.com
            <br /><br />
            Når du logger ud, vil du modtage en opdateret leveringsoversigt hvor du kan se din kommende leveringer.

            <h4>Leveringsadresser</h4>

            <div class="form-horizontal">
                @using (Html.BeginForm("GetLeverings", "Home", FormMethod.Post))
                {
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Startdato:</label>
                            <div class="col-sm-7">
                                <div class="input-group input-append date">
                                    @Html.TextBox("StartDate", null, htmlAttributes: new { @class = "form-control", title = "Startdato" })
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-xs-5 control-label">Slutdato:</label>
                            <div class="col-xs-7">
                                <div class="input-group input-append date">
                                    @Html.TextBox("EndDate", null, htmlAttributes: new { @class = "form-control", title = "Slutdato" })
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <button class="btn btn-primary">Hent leveringe</button>
                    </div>
                    <br /><br /><br />
                }
            </div>

            <div class="col-md-0">
                Adresse: @ViewBag.Adresse
            </div>

            <div class="table-primary">
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Antal</th>
                            <th>Varenr</th>
                            <th>Beskrivelse</th>
                            <th>Pris</th>
                            <th>Samplet pris</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Antal
                                    @*@item.Antal*@
                                </td>
                                <td>
                                    @item.VareNr
                                    @*@item.Antal*@
                                </td>
                                <td>
                                    @item.Beskrivelse
                                    @*@item.Antal*@
                                </td>
                                <td>
                                    @item.Pris
                                    @*@item.Pris*@
                                </td>
                                <td>
                                    @item.SampletPris
                                    @*@item.Pris*@
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '-3d',
                orientation: "top auto",
                autoclose: true
            })
            //    .on('changeDate', function (e) {
            //    // Revalidate the date field
            //    $('.datepicker').close();
            //});
        })

    </script>
