@model IEnumerable<PauseSystem.Models.CustomerDeliveryAdresses>

@if (!Model.Any())
{
    <p class="norecord"> @PauseSystem.Helpers.MessageHelper.NoRecordFound </p>
    return;
}
<div class="col-md-0"> Adresse: @ViewBag.Adresse </div>

<div class="table-responsive">

    <table class="table table-bordered table-striped table-condensed" id="productTableId">
        @foreach (var cda in Model)
        {
            <tr class="success">
                <td>Address: @cda.Adress , @cda.PostalCode , @cda.City </td>
            </tr>
            foreach (var cd in cda.DeliveryWeeks)
            {
                <tr>
                    <td>Uge: @cd.Week </td>
                </tr>

                foreach (var dd in cd.DeliverDates)
                {
                    <tr id="@dd.Date.ToString("ddMMyyyy")">
                        <td>
                            <table class="table table-bordered">
                                <tr>
                                    <td style="color:red;" colspan="6">
                                        @dd.DayOfWeek, @dd.DateString
                                        @Ajax.ActionLink("Delete", "AjaxDeleteDeliveryWeek", new {  date = dd.Date.ToString() },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "Post",
                                            Confirm = "Do you want to delete all deleveries for this date?",
                                            LoadingElementId = "bgLoader",
                                            OnSuccess = "jsLiverenger.deleteDeliveryWeek(" + dd.Date.ToString("ddMMyyyy") + "); responseMessage.show('The record(s) has been deleted successfully', 'alert-success')",
                                            OnFailure = "responseMessage.show('Error while updating!!, alert-danger')"
                                        }, htmlAttributes: new { @class = "pull-right" })
                                    </td>
                                </tr>

                                <tr class="warning">
                                    <td>Antal</td>
                                    <td>Varenr</td>
                                    <td>Beskrivelse</td>
                                    <td>Pris</td>
                                    <td>Samplet pris</td>
                                    <td>Action</td>
                                </tr>

                                @foreach (var d in dd.Deliveries)
                                {
                                    <tr id="@d.Id">
                                        <td>@d.Number</td>
                                        <td>@d.ProduktNumber</td>
                                        <td>@d.Produkt</td>
                                        <td>@d.Pris</td>
                                        <td>@d.Pris</td>
                                        <td>
                                            @Ajax.ActionLink("Delete", "AjaxDeleteDelivery", new { id = d.Id },
                                            new AjaxOptions
                                            {
                                                HttpMethod = "Post",
                                                Confirm = "Do you want to delete this delivery?",
                                                LoadingElementId = "bgLoader",
                                                OnSuccess = "jsLiverenger.deleteDelivery(" + d.Id + "); responseMessage.show('The record has been deleted successfully', 'alert-success')",
                                                OnFailure = "responseMessage.show('Error while updating!!, alert-danger')"
                                            })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </td>
                    </tr>
                }
            }
        }
    </table>


</div>
