@model IEnumerable<PauseSystem.Models.CustomerDelivery>

    <div class="col-md-0">
        Adresse: @ViewBag.Adresse
    </div>
    
    <div class="table-primary">
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th><a href="http://localhost:1344/Home/SortTable?name=Antal">Antal</a></th>
                    <th><a href="http://localhost:1344/Home/SortTable?name=VareNr">Varenr</a></th>
                    <th><a href="http://localhost:1344/Home/SortTable?name=Beskrivelse">Beskrivelse</a></th>
                    <th><a href="http://localhost:1344/Home/SortTable?name=Pris">Pris</a></th>
                    <th><a href="http://localhost:1344/Home/SortTable?name=SampletPris">Samplet pris</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Antal
                            @*@item.Antal*@
                        </td>
                        <td>
                            @item.VareNr
                            @*@item.Antal*@
                        </td>
                        <td>
                            @item.Beskrivelse
                            @*@item.Antal*@
                        </td>
                        <td>
                            @item.Pris
                            @*@item.Pris*@
                        </td>
                        <td>
                            @item.SampletPris
                            @*@item.Pris*@
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
